sphinx>=4.2.0
sphinx_rtd_theme>=1.0.0
ipython>=7.4
ipykernel>=5.1.0
numpydoc>=1.1.0
recommonmark==0.5.0
ruamel.yaml==0.17.32
pyyaml
TextGrid
sphinx-gallery==0.10.1
openneuro-py==2022.4.0
mne-bids==0.11.1